html, body {
  height: 100%;
  width: 100%;
  font-family: Monospace;
  background-color: #292b2f;
  overflow-x:clip;
}

h1 {
  font-size: 50px;
  text-align:center;
  display:flex;
}

#locImage {
  max-height:100%;
  margin:auto;
  display:flex;
  
}
.titles{
  padding-top: 25px;
}

#locText{
  font-size: 4vw;
  color:white;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

#locList{
  display:flex;
}

#options{
  background-color: #DEE9FF;
  padding-left:3%
}

#newLocation {
  font-family: monospace;
  width: 30%;
  margin-left: 30px;
  display:flex;
}
